<div class="py-4 px-6 border rounded flex items-center flex-col mb-2">
  <h2 class="mb-2 text-md text-center">{{ product.title }}</h2>

  <img [alt]="product.title" [src]="product.image" class="w-1/6 mb-2">
  <p>Price: <span class="font-bold">{{ product.price | currency:'RUB' }}</span></p>

  <button
    (click)="details = !details"
    [ngClass]="{
    'bg-gray-300': details,
    'bg-blue-300': !details
    }"
    class="border py-2 px-4 rounded"
  >
    {{ details ? 'Hide' : 'Show' }} Details
  </button>

  <div *ngIf="details">
    <p>{{ product.description }}</p>
    <p>Rating: {{ product.rating.rate | number: '1.2' }}</p>
  </div>
</div>

